.content {
  padding: 0 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(87% - 30px);
  display: block;
}

.filter {
  display: flex;
  flex-direction: row;
  padding: 10px 20px 0 20px;
  .green {
    position: absolute;
    right: 20px;
  }

}

.noData {
  width: 100%;
  text-align: center;
}

.showMore {
  height: 40px;
  border: 1px solid #ccc;
  text-align: center;
  padding-top: 15px;
  margin-top: 20px;
  cursor: pointer;
}
