<div class="filter">
  <app-filter-list></app-filter-list>
  <button
    *ngIf="userInfo.userId !== undefined"
    class="green"
    (click)="onAdd()"
  >{{'addCourse' | translate }}</button>
</div>
<div class="content">
  <div *ngFor="let item of items | orderBy: 'item.name': true">
    <app-item-course-list [item]="item" (remove)="onRemove()"></app-item-course-list>
  </div>

  <div *ngIf="items.length === 0" class="noData">Do data</div>
  <div *ngIf="items.length > 0" class="showMore" (click)="onLoadMore()">
          Show more

  </div>

</div>
