<div class="content">
  <div class="trumb">
    <i class="far fa-file-image"></i>
  </div>
  <div class="description">
    <div class="name">
      <div class="link">{{item.name}}</div>
      <div class="time">
        <span>{{item.durationHour}}</span>
        <span>{{item.durationMinutes}}</span>
      </div>
      <div class="startDate">
        {{item.startDate | date: 'M.dd.yyyy'}}
      </div>
    </div>
    <div class="text">{{item.description}}</div>
  </div>
  <div class="actions">
    <button
      *ngFor="let action of actions"
      (click)="doAction(actionName)"
      [ngClass]="action.color"
    >
      {{action.name}}
    </button>
  </div>
</div>

