.content {
  padding: 20px;
  border: 3px solid #ccc;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin-top: 10px;
  background: #fff3bb30;
}

.trumb {
  width: 100px;
  height: 100px;
  min-width: 100px;
  max-width: 100px;
  border: 1px solid #aaa;
  background: #fff;
  i {
    color: #ccc;
    font-size: 60px;
    margin: 20px 27px;
  }
}

.description {
  color: #444;
  width: 100%;
  padding: 0px 10px;
  .name {
    display: flex;
    flex-direction: row;
    .far {
      color: #ccc;
    }
    .fas {
      color: coral;
    }
    .link {
      font-weight: bold;
      width: 100%;
    }
    .time {
      color: #aaa;
      width: 100px;
      min-width: 100px;
      max-width: 100px;
    }
    .startDate {
      color: #aaa;
      width: 80px;
      min-width: 80px;
      max-width: 80px;
    }
  }
  .text {
    padding-top: 10px;
    font-size: 12px;
  }
}



.actions {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  padding: 0 10px;

  button {
    width: 100px;
    margin-bottom: 10px;
  }
}
