.box {
  position: relative;
  width: 100px;
  height: 100px;
}
/* ------------ 0 ------------ */
.pyramid {
  width: 200px;
  height: 200px;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  perspective-origin: center -75%;
}

.pyramid__inner {
  transform-style: preserve-3d;
  transform: translateZ(-150px) translateX(0%) rotateY(-360deg);
  animation: Anim 5s linear infinite;
}

@keyframes Anim {
  0% { transform: translateZ(-150px) translateX(0%) rotateY(0deg); }
}

.bit {
  position: absolute;
  height: 0;
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
  opacity: .92;
}


.py-1 {
  /* transform: scale(.485) translateX(4rem) translateY(11.25rem); */
  perspective: 5000px;
  z-index: 3;
  top: 0;
}

/* ------------ 1 ------------ */
.py-1 .bit {
  width: 0px;
}

.py-1 .bit-1 {
  border-bottom: 200px solid #660000;
}

.py-1 .bit-2 {
  border-bottom: 200px solid #ff8177;
}
.py-1 .bit-3 {
  border-bottom: 200px solid #f00;
}
.py-1 .bit-4 {
  border-bottom: 200px solid #f00;
}

.py-1  .bit-1 {
  transform: rotateX(30deg) translateZ(57px);
}

.py-1  .bit-2 {
  transform: rotateX(-30deg) translateZ(-57px);
}

.py-1  .bit-3 {
  transform: rotateZ(-30deg) rotateY(-90deg) translateZ(-57px);
}

.py-1  .bit-4 {
  transform:  rotateZ(30deg) rotateY(90deg) translateZ(-57px);
}

/* Text style */
span {
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 3rem;
  transform: rotateY(180deg) translateY(100%);
}

.bit-1 span {
  transform: rotateY(0deg) translateY(100%);
}

.py-1 span {
  line-height: 5rem;
  transform: rotateY(180deg) translateY(100%) translateX(-2.5rem);
}
.py-1 .bit-1 .text {
  font-size:  3em;
  transform: rotateY(0deg) translateY(50%) translateX(-3.5rem);
}

.py-1 .bit-1 .number {
  font-size:  5em;
  transform: rotateY(0deg) translateY(60%) translateX(-1.5rem);
}
