.loginBlock {
  height: 100%;
  margin: auto;
  display: table;
  width: 100%;
  position: absolute;
  top: 0;
}

.loginForm {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;

  .formItems {
    margin: auto;
    display: grid;
    width: 200px;
    border: 1px solid;
    text-align: left;
    height: 200px;
    padding: 15px;
    button {
      width: 100%;
      margin-top: 20px;
    }

    div {
      display: flex;
      flex-direction: column;
    }
  }
}
