.header {
  width: 100%;
  height: 60px;
  background: #333;
  display: flex;
}

.headerLogo {
  transform: scale(.27);
  left: 0;
  top: -26px;
  margin: 0;
  position: absolute;
}

.headerLogoCircle {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  position: absolute;
  left: 40px;
  top: 2px;
  background: #ff0;
  border: 1px solid #f00;
}

.headerMenu {
  position: absolute;
  right: 0;
  padding: 17px;
  i {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
  }
}

.headerName {
  left: 130px;
  position: absolute;
  top: 16px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
