html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 16px;
  font-family: 'Arial', Times, Sans-serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

button {
  border: none;
  width: max-content;
  padding: 8px;
  cursor: pointer;
  text-transform: uppercase;
  &.green {
    background: #1c7430;
    color: #fff;
    &:hover {
      background: #0b2e13;
    }
  }
  &.red {
    background: #67000b;
    color: #fff;
    &:hover {
      background: #b6000b;
    }
  }
  &.disabled {
    background: #a1a1a1;
  }
}

input {
  padding: 8px 10px 8px 10px;
  border: 1px solid #999;
  &:focus {
    border-color: #00a8e6;
  }
}

label {
  color: #999999;
  padding: 2px 0 2px 0;
  font-size: 12px;
}

.smallFont {
  font-size: 12px;
}

.boldFont {
  font-weight: bold;
}
